/* div{
  height:100px;
  width:100px;
  text-align:center;
  border-style:solid;
  background-color: brown;
  color: aqua;
  padding:25px;
  margin:25px;
} */
 
/* test quetion  */

 /* div{
    height:100px;
    width:100px;
    background-color:green;
    border-radius:50%;
    
 } */

 /* *{
    padding:0px;
    margin:0px;

 }
#navbar{
    height:60px;
    background-color:#0f1111;
}

button{
    background-color:#f08804;
}
#logo{
    color:yellow;
    font-size:25px;
}
#a{
    color:white;


}
a{
    margin-right:200px;
} */

/* text over */

/* div{
    background-color:pink;
    display:inline;
}
button{
    display:block;
} */


/* div{
    width:200px;
    height:200px;
    margin:25px;
    display:inline;
} */