/* * {
    color:pink;
}
h1{
    color:green
}
button{
    color:aquamarine
}
.myclass{
    color:aqua
}
box {
    background-color: blue;
    color: white; 
}
.class{
    color:red
}
button{
     color:green; 

} */
/* p {
    text-align:center;
}
h1{
    text-align:center;
    text-decoration:underline ;
    color:blue
}
a{
    text-decoration:none;
} */

    /* text-tranform:uppercase; */

/* #h2{
    font-weight:bold;
}
#h3{
    font-weight:lighter;
} */
 /* #p{
    text-transform:lowercase;
 } */
   /* *{
    font-family:Times New Roman; 
  } */
  /* #text2{
    text-aligm:center;
    text-transform:capitalize;
  } */